sap_apis/DOC_WEBI_DESC_MATERIAL.WSDL

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_Z_CLAUDE_CODE_01">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_Z_GETDESCRIPCION_MATERIAL">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
   <xsd:simpleType name="char1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char12">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="12"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char255">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="255"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char30">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="CONF_OUT">
    <xsd:sequence>
     <xsd:element name="ATINN" type="tns:numeric10"/>
     <xsd:element name="ATNAM" type="tns:char30"/>
     <xsd:element name="ATBEZ" type="tns:char30"/>
     <xsd:element name="ATWRT" type="tns:char30"/>
     <xsd:element name="ATWTB" type="tns:char30"/>
     <xsd:element name="EWAHR" type="xsd:float"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ZTT_CONF_OUT">
    <xsd:sequence>
     <xsd:element name="item" type="tns:CONF_OUT" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="Z_GETDESCRIPCION_MATERIAL">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="I_OF" type="tns:char12"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="Z_GETDESCRIPCION_MATERIALResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="E_CONFIGURABLE" type="tns:char1"/>
      <xsd:element name="E_CONFIGURACION" type="tns:ZTT_CONF_OUT"/>
      <xsd:element name="E_DESCRIPCION" type="tns:char255"/>
      <xsd:element name="E_OF" type="tns:char12"/>
      <xsd:element name="E_PEDIDO" type="tns:char10"/>
      <xsd:element name="E_POSICION_PED" type="tns:numeric6"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="Z_GETDESCRIPCION_MATERIAL">
  <wsdl:part name="parameters" element="tns:Z_GETDESCRIPCION_MATERIAL"/>
 </wsdl:message>
 <wsdl:message name="Z_GETDESCRIPCION_MATERIALResponse">
  <wsdl:part name="parameter" element="tns:Z_GETDESCRIPCION_MATERIALResponse"/>
 </wsdl:message>
 <wsdl:portType name="Z_CLAUDE_CODE_01">
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF_IF_Z_CLAUDE_CODE_01"/>
  </wsp:Policy>
  <wsdl:operation name="Z_GETDESCRIPCION_MATERIAL">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_Z_GETDESCRIPCION_MATERIAL"/>
   </wsp:Policy>
   <wsdl:input message="tns:Z_GETDESCRIPCION_MATERIAL"/>
   <wsdl:output message="tns:Z_GETDESCRIPCION_MATERIALResponse"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>
